.headerContainer {
    height: 100px;
    display: flex;
    padding: 0 20px;
    border-bottom: 2px solid #333333;

    .leftTitle {
        flex: 1;
        display: flex;
        align-items: center;

        .icon {

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: $color-light-blue;
            }
        }

        .titleName {
            padding: 0 20px 3px 10px;
            display: grid;
            font-size: 24px;

            span {
                line-height: 1.1;
                font-weight: 600;
            }
        }

        .position {
            font-size: 20px;
            font-weight: 500;
            color: #999999;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 12px;
            border-left: 2px solid #333333;
            position: relative;
        }
    }

    .rightButton {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbarContainer {
        display: flex;
        padding-right: 40px;
        gap: 20px;

        cursor: pointer;

        .active {
            color: $color-active-text;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -38px; // 底線偏移量
                left: 0%; // 起點偏右
                width: 100%;
                height: 4px;
                background-color: $color-active-text;
            }
        }
    }
}