.footerContainer {
    height: 100px;
    display: flex;
    padding: 0 20px;

    .leftTitle {
        flex: 1;
        display: grid;
        font-size: 24px;
        align-content: center;

        span {
            font-weight: 600;
        }
    }

    .rightTitle {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 80px;
        padding-right: 5%;

        .phone,
        .email {
            display: grid;
            font-size: 24px;
            font-weight: 400;
            justify-items: flex-start;

            div:first-child {
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}